/* The Menu */

ul.menu {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.menu li {
    display: block;
    position: relative;
    float: left;
}
ul.menu li ul { display: none; }
ul.menu li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: grey;
    margin-left: 1px;
    white-space: nowrap;
}

ul.menu li a:hover { background: darkgrey; }
li:hover ul { 
    display: block; 
    position: absolute;
}
li:hover li { 
    float: none;
    font-size: 11px;
}
li:hover a { background: grey; }
li:hover li a:hover { background: #95A9B1; }

/* The main site */
body {
    margin-left: 7%; margin-right: 7%;
    font-family:  sans-serif;
    background-color: #88ddaa;
}

h1 { margin-left: -3%;}
h1,h2,h3 { font-family: Garamond, "Times New Roman", serif; }

/* The blog and signed  messages */
#blog {
    background-color: #CCCCCC; 
    border: solid; border-width: thin; width: 100%;
    padding: 0.0em;
    
 }

/* ignore br tags as they are for when the user doesn't use css */
ecca_signed_message br { display: none }

ecca_signed_message {
    display: block;
    background-color: #EEEEEE;
    padding: 0.5em; 
    margin-bottom: 1em;
    line-spacing: 0.1em;
}

ecca_title {
    display: block;
    margin: 0em;
    padding: 0.2em 2em;
    background-color: #FFFFFF;
    font-weight: bold;
}       

ecca_author   {
    display: block;
    margin-top: 0.2em;
    padding: 0.2em 2em;
    background-color: #FFFFFF;
}

ecca_text { 
     display: block;
     background-color: #EEEE99;
     padding: 0.2em 0.2em; 
     margin-top: 0.2em;
 }

ecca_signature {
    display: block;
    padding: 0.2em 0.2em; 
    margin-top: 0.2em;
}  

.button {
    border: solid; border-width: thin; width: 100%;
    padding: 0.1em 0.2em;
    background-color: #FFFFFF;
    text-decoration: none;
    color: #000000;
}

a:hover { 
    background-color: lightblue;
    text-decoration: underline
}


/* private messages */

div.message { 
    background-color: #EEEEEE; 
    border: solid; border-width: thin; width: 100%;
    padding: 0.5em;
}

from {
    background-color: #33FF33;
    margin-bottom: 0.5em;
}

ciphertext {
    background-color: #CCCC99;
    margin-left: 2em; 
    display: block;
    font-family: monospace;
    white-space: pre; 
}

cleartext {
    background-color: #33FF33;
    margin-left: 2em;
    padding: 0.25em;
}
