<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    {{ template "menu" }}
      <p id="blog">
      <blog>
	<ecca_signed_message>
	  <b><ecca_title>{{ .Blog.Title}}</ecca_title></b><br />
	  <ecca_author>{{ .Blog.Blogger }}</ecca_author><br />
	  <ecca_text>{{ .Blog.Text }}</ecca_text><br />
	  <ecca_signature id="blog_id_{{ .Blog.Id }}">{{ .Blog.Signature }}</ecca_signature><br />
	  <ecca_validation>Here will be the output of the signature validation</ecca_validation><br />
	</ecca_signed_message>
	  <a class="button ecca-private-message"  href="/send-message?addressee={{ .Blog.Blogger }}">Send Private Message</a>
      </blog>
    </p>
    <h1>Comments</h1>
    <div id="comments">
    {{ range $_, $comment := .Comments }}
    <p id="comment">
    <comment>
      <ecca_signed_message ecca_id="comment_{{ $comment.Id }}">
	Title: <b><ecca_title>{{ $comment.Title }}</ecca_title></b><br />
	Commenter: <ecca_author>{{ $comment.Blogger }}</ecca_author><br />
	Comment: <ecca_text>{{ $comment.Text }}</ecca_text><br />
	Signature: <ecca_signature>{{ $comment.Signature }}</ecca_signature><br />
	Validation: <ecca_validation>Here will be the output of the signature validation</ecca_validation>
      </ecca_signed_message>
	  <a class="button ecca-private-message" ecca_id_ref="comment_{{ $comment.Id }}" href="/send-message?addressee={{ $comment.Blogger }}">Send Private Message</a>
    </comment>
    </p>
    {{ else }}<p>There are no comments. Be the first. Sign up with an account or write anonymous.</p>
    {{ end }}
    </div>
    <p>Here you can create your comments. You can respond anonymous or use one of your eccentric identities (digital pseudonyms).</p>
    <form method="POST" action="/submit-comment">
      <input type="hidden" name="sign" value="optional" />
      <!-- <input type="hidden" name="certificate_url" value="{{ .IdURL }}" /> -->
      <label>Title: </label><input type="text" size="50" name="title" value="TL;DR" />
      <br />
      <textarea name="cleartext" rows="10" cols="80">Interesting thoughts.</textarea><br />
      <input type="submit" name="submit" value="Post my deep thoughts" />
      <input type="hidden" name="signature" />
      <input type="hidden" name="blogId" value="{{ .Blog.Id }}" />
    </form>
    {{ template "tracking" }}
</body></html>
